/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007bff;
    text-align: center;
    text-decoration: underline;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    display: block;
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    color: #007bff;
    font-weight: bold;
}

a {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}


a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead {
    background-color: #007bff;
    color: white;
} */


#news-container {
    margin-top: 20px;
}

.news-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.news-item h3 {
    margin-top: 0;
}

.news-item p {
    color: #555;
}

.news-item a {
    color: #0066cc;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}
