<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
    <!-- line 13-17 creates a link that redirects user to the corresponding page -->
    <table>
        <th><a href="/">Home</a></th>
        <th><a href="/news">News</a></th>
        <th><a href="/courses">Courses</a></th>
        <th><a href="/profile">Profile</a></th>
        <th><a href="/contacts">Contacts</a></th>
    </table>
    <!-- below allows users to submit articles which will then be synced to the MySQL database -->
    <h2>Add a New Article</h2>
    <form action="/add_article" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/news">Back to News</a>
</body>
</html>