<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insert Student</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
        <table>
            <th><a href="/">Home</a></th>
            <th><a href="/news">News</a></th>
            <th><a href="/courses">Courses</a></th>
            <th><a href="/profile">Profile</a></th>
            <th><a href="/contacts">Contacts</a></th>
        </table>
        <a href="/">Home</a>
        <h2>Add New Student</h2>
        <form action="/add" method="post">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required/><br>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="password" required/><br>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" required/><br>
            <label for="address">Address</label><br>
            <input type="text" id="address" name="address"required/><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" required/><br>
            <label for="mobile">Mobile Number</label><br>
            <input type="text" id="mobile" name="mobile" required/><br>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>