<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Course Confirmation</h1>
    <table>
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in selected_courses %}
            <tr>
                <td>{{ course[0] }}</td>
                <td>
                    <form action="/enroll" method="get">
                        <button type="submit">Add Course</button>
                    </form>
                    <form action="/confirmation" method="post">
                        <button type="submit" name="delete" value="{{ course[0] }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Cost: ${{ total_cost }}</h2><br><br>
    <h4>Please transfer the tuition amount indicated above to tuition@p1school.ca.</h4>
    <h4>It is important to note that the verification of the payment will take approximately 14 business days.</h4>
    <h4>Following the successful verification, a confirmation of tuition payment will be issued to you from our end.</h4> 
    <h4>To finalize your course selection, kindly click the "Finalize Course Selection" button. This action will confirm all your selected courses.</h4>
    <h4>Upon completion, you will be redirected to the home page.</h4>
    <a href="/">Finalize Course Selection</a>
</body>
</html>