<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
    <table>
        <th><a href="/">Home</a></th>
        <th><a href="/news">News</a></th>
        <th><a href="/courses">Courses</a></th>
        <th><a href="/profile">Profile</a></th>
        <th><a href="/contacts">Contacts</a></th>
    </table>
    <!-- display P1 Private School contact information such as address, phone, email, hours and province -->
    <h2>P1 Private School Contacts</h2><br>
            <table>
                <tr>
                    <th>Address:</th>
                    <td>1750 Finch Ave E, North York, ON M2J 2X5</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>(416) 491-5050</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>contacts@p1school.ca</td>
                </tr>
                <tr>
                    <th>Hours:</th>
                    <td>Open 24 hours</td>
                </tr>
                <tr>
                    <th>Province:</th>
                    <td>Ontario</td>
                </tr>
            </table>
</body>
</html>