<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to P1 Private School of Education</h1>
    <table>
        <th><a href="/">Home</a></th>
        <th><a href="/news">News</a></th>
        <th><a href="/courses">Courses</a></th>
        <th><a href="/profile">Profile</a></th>
        <th><a href="/contacts">Contacts</a></th>
    </table>
    <h2>Course Information</h2>
    <table>
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course[0] }}</td>
                <td>{{ course[1] }}</td>
                <td>{{ course[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <th><a href="/enroll">Enroll</a></th>
</body>
</html>