<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
    <table>
        <th><a href="/">Home</a></th>
        <th><a href="/news">News</a></th>
        <th><a href="/courses">Courses</a></th>
        <th><a href="/profile">Profile</a></th>
        <th><a href="/contacts">Contacts</a></th>
    </table>
    <h2>Course Enrolment</h2>
    <form action="/enroll" method="post">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Course Name</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><input type="checkbox" name="selected_courses" value="{{ course[0] }}"></td>
                    <td>{{ course[0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Enroll">
    </form>
</body>
</html>