<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to P1 Private School of Education</h1>
    <table>
        <thead>
            <tr>
                <th><a href="/login">Login</a></th>
                <!-- <th><a href="/view">View All Students</a></th> -->
                <th><a href="/courses">Courses</a></th>
                <th><a href="/contacts">Contacts</a></th>
            </tr>
        </thead>
    </table>
    
</body>
</html>