<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login to P1 Private School of Education</h1>
    <form action="post" action="/login">
        <label for="name"></label>
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Login</button>
        <a href="/add">Create User</a>
    </form>
</body>
</html>