<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News - P1 Private School of Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
    <table>
        <thead>
            <tr>
                <th><a href="/">Home</a></th>
                <th><a href="/news">News</a></th>
                <th><a href="/courses">Courses</a></th>
                <th><a href="/profile">Profile</a></th>
                <th><a href="/contacts">Contacts</a></th>
            </tr>
        </thead>
    </table>
    <!-- line 23-32 displays all news articles from MySQL, each of them would be a link so users can click on it to see more details. It shows the first 150 characters from each article. -->
    <!-- if a user is logged in, it allows user to add a new article  -->
    <h2>News</h2>
    {% for article in articles %}
        <h2><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
        <p>Published on: {{ article.publication_date }}</p>
        <!-- Truncate content for preview -->
        <p>{{ article.content[:150] }}...</p>
    {% endfor %}

    {% if logged_in_user %}
        <a href="/add_article">Add a New Article</a>
    {% endif %}

</body>
</html>