<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><img src="{{ url_for('static', filename='p1_school_bg.jpg') }}" alt="Logo"></h1>
    <table>
        <th><a href="/">Home</a></th>
        <th><a href="/news">News</a></th>
        <th><a href="/courses">Courses</a></th>
        <th><a href="/profile">Profile</a></th>
        <th><a href="/contacts">Contacts</a></th>
    </table>
    <!-- line 19-37 displays user information such as name, address, email. mobile, selected courses and tuition amount, the data is retrieved from MySQL -->
    <h2>User Profile</h2>
    {% if user_details %}
        <p>Name: {{ user_details[1] }}</p>
        <p>Address: {{ user_details[2] }}</p>
        <p>Email: {{ user_details[3] }}</p>
        <p>Mobile: {{ user_details[4] }}</p>
    {% endif %}
    <h2>Selected Courses</h2>
    {% if selected_courses %}
        <ul>
            {% for course in selected_courses %}
                <li>{{ course[0] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses selected.</p>
    {% endif %}
    <h2>Total Cost for Courses</h2>
    <p>Total Cost: ${{ total_cost }}</p>
</body>
</html>