<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/">Home</a>
    <h1>Update User Information</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{user[1]}}" required><br>
        <label for="address">Address</label><br>
        <input type="text" id="address" name="address" value="{{user[2]}}" required><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{user[3]}}" required><br>
        <label for="mobile">Mobile Nmber</label><br>
        <input type="text" id="mobile" name="mobile" value="{{user[4]}}" required><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>