<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Information</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
        <tr>
            <td>{{ user[1] }}</td> <!-- user[1] contains the username -->
            <td>{{ user[2] }}</td> <!-- user[2] contains the password -->
            <td>{{ user[3] }}</td> <!-- user[3] contains the name -->
            <td>{{ user[4] }}</td> <!-- user[4] contains the address -->
            <td>{{ user[5] }}</td> <!-- user[5] contains the email -->
            <td>{{ user[6] }}</td> <!-- user[6] contains the mobile -->
        </tr>
    </table>
    <a href="/">Back to Home</a>
</body>
</html>